body{ 
 	font-size: 18px; 
 	font-family: 'Calibri'; 
 	background-color: #212322; 
 } 

 #container{ 
    width: 980px; 
 	margin: 0 auto; /* Margin se define mediante cuatro puntos: top(arriba), right(derecha), bottom(abajo), left(izquierda). Se declaran en ese orden para establecer margenes distintos para cada lado, en el caso de usar sólo dos valores se considera el primer valor para top-bottom y el segundo para right-left. En el caso de un valor único se considera para los cuatro lados. */ 
 } 

header{
    width: 980px;
    height:180px;
    font-size: 16px; 
    font-family: 'Calibri'; 
    background-color: #1A1A1A;
    border-radius: 10px ;
}

#logotipo{
    position:absolute;
    left:50%;
    width:188px;
    height:169px;
    margin-left:-450px;
    margin-top:6px;
    border:none
}

.float_header{ 
 	display: inline-block; 
 	 
 } 
 header #block_menu{ 
 	width: 980px; 
 	text-align: right;
    padding-right: 5px; 
    padding-top: 15px;
 } 
 
  
 header #block_menu nav li{ 
 	display: inline-block; 
 	padding: 1px 3px;  
 } 

 header nav{ 
 	margin-top: 10px; 
 } 

 header nav ul {
    list-style: outside none none;
 }

 header nav ul li {
    float: right;
    width: 110px;
    height: 100px;
    margin-right: 30px;
    text-align: center;
 }
 
 header nav li a{ 
 	color: #aaaaaa; 
 	text-decoration: none; 
 } 
 
 header nav li a:hover{ 
 	color: #9fee00; 
 	text-decoration: none; 
 } 
 
     
footer 
{
    
    margin-top: 30px;
    width: 980px;
    height: 200px;
    background-color: #1A1A1A;
    border-radius: 10px ;
    position: absolute;
    font-size: 16px; 
    font-family: 'Calibri'; 
}

footer .pie
{
   display:inline-block;
   width: 300px;
   height: 200px;
   text-align: center;
    padding: 5px;   
    }
footer .pie .headerpie{
    vertical-align: top;
    color: #9fee00;
    font-size: 26px;
    text-align:center;
} 	


footer .pie #contenidopie
{
    padding: 5px;
    font-size: 14px;
    color: #fff;
    text-align: justify;
 	 }

footer .pie #contenidopie #social div{
    display: inline-block;
    padding: 10px;
}

footer .pie #contenidopie #cajacontac div{
    display: inline-block;
    padding: 8px;
    text-align: right;
    margin-right: 5px;
}

footer .pie #contenidopie #fle {
    text-align: right;
}

